@model List<RatingListItem>
@{
    ViewData["Title"] = "Ratings";
}

<h1>Restaurant Ratings</h1>

<table class="table">
    <tr>
        <th>Restaurant</th>
        <th>Rating</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(_ => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(_ => item.Score)
            </td>
        </tr>
    }
</table>